<div class="row g-4 my-4 align-items-center justify-content-center d-print-none">
  <div class="col-12 col-md-5 text-center">
    <div class="p-2 border rounded-3 bg-body-tertiary shadow-sm">
      <img src="{{ "images/cover-front.png" | relURL }}" alt="Modern Front-End Engineering - Front Cover" class="img-fluid rounded shadow" style="max-height: 460px; width: auto;">
      <div class="small text-muted mt-2 fw-semibold">Front Cover</div>
    </div>
  </div>
  <div class="col-12 col-md-5 text-center">
    <div class="p-2 border rounded-3 bg-body-tertiary shadow-sm">
      <img src="{{ "images/cover-back.png" | relURL }}" alt="Modern Front-End Engineering - Back Cover" class="img-fluid rounded shadow" style="max-height: 460px; width: auto;">
      <div class="small text-muted mt-2 fw-semibold">Back Cover</div>
    </div>
  </div>
</div>
